@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Namchok";
}

<h1>This is Movie index View</h1>
<hr />
@Html.ActionLink("+ เพิ่ม", "Create", "Movie", null, new { @class = "btn btn-primary", @style = "margin-bottom: 20px;" })
<hr />
<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>รหัสภาพยนต์</th>
            <th>ชื่อภาพยนต์</th>
            <th>รูป</th>
            <th>เข้าฉายเมื่อ</th>
            <th>หมวดหมู่</th>
            <th>ความยาว (นาที)</th>
            <th>การดำเนินการ</th>
        </tr>
    </thead>
    @foreach (var item in Model)
    {
        <tr>
            <td class="item-id"><center>@item.id%</center></td>
            <td>@item.title</td>
            <td>
                <img src="@item.coverImg" height="80px" />
            </td>
            <td>@item.releaseDate</td>
            <td>@item.genre</td>
            <td>@item.duration</td>
            <td>
                <input type="button" value="Delete" class="btn btn-danger" />
            </td>
        </tr>
    }
</table>

@using (Html.BeginForm("delete", "movie", FormMethod.Post, new { name = "frmMovie", id = "frmMovie" }))
{
    <input type="hidden" name="id" />
}

@section Scripts
{
    <script>
        @* Delete movie *@
        $(".btn-danger").click(function () {
            if(!confirm('Do you really want to delete this movie?')) {
                return false;
            }
            var id = $(this).closest("tr").find(".item-id").text();
            document.frmMovie.id.value = id;
            document.getElementById("frmMovie").submit();
        });
    </script>
}